/.vs
/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.angular/cache
.sass-cache/
/Gameui/.angular
/Gameui/node_modules

/NameLists.xlsx
/Storage/Data/test-world.db
/Storage/Data/Reference/old/
/Storage/Data/Pictures/Portraits/
/Storage/Data/Pictures/Locations/
bin/
obj/