<main class="parent">
    <section class="sec1"><img width="100%" src="https://localhost:7210/current-player-map/width/400/20000/seed/1" alt="PlyerMap" class="mappic"></section>
    <section class="sec2"><img width="100%" src="https://localhost:7210/current-region-map/width/300/seed/1?colorType=1" alt="RegionMap" class="mappic"></section>
    <section class="sec3">Map Legend</section>
    <section class="sec4"><app-travel-option></app-travel-option></section>
    <section class="sec5">Travel Companiens</section>
    <section class="sec6">Mapmaking</section>
    <section class="sec7">Travel Log</section>
</main>