<p>page-example works!</p>
<h2>Example Content 1</h2>
<div class="main-cont">

  <!-- <h2>Default</h2>
<button mat-raised-button >Default</button>
<p>Some defaulf text</p> -->
  <div >
    <h3>Primary</h3>
    <button mat-flat-button class="primary-button">Primary</button>
    <p class="buttontext">Some text</p>
  </div>

  <div >
  <h3>Secondary</h3>
  <button mat-flat-button class="secondary-button">Secondary</button>
  <p>Some Secondary text</p>
  </div>

  <div >
  <h3>tertiary</h3>
  <button mat-flat-button class="tertiary-button">tertiary</button>
  <p>Some tertiary text</p>
  </div>

  <div >
  <h3>error</h3>
  <button mat-flat-button class="error-button">error</button>
  <p>Some error text</p>
  </div>
</div>  
