

$cp-light: #FCF7EF;
$cp-lightgray: #F4E9DD;
$cp-xlightred: #FCE6D7;
$cp-darkgray: #777162;
$cp-dark: #0F1A26;
$cp-darkred: #A6615A;
$cp-red: #DB886A;
$cp-lightred: #E9A985;
$cp-xlightred: #ECD1BA;
$cp-light2: #FDEBD2;
$cp-orange: #F39E47;
$cp-darkbrown: #3E2A2A;
$cp-darkblue: #213945;
$cp-lightdarkblue: #5E878F;
$cp-lightblue: #A9B6BD;
$cp-lightgreen: #B1C5AE;
$cp-xdimyellow: #E3CD91;
$cp-dimyellow: #FDD67B;
$cp-yellow: #FDD03D;