<main class="parent">

  <section class="day1">
    <img class="frame" style="animation-delay: -10s" src="../assets/day1a.png">
    <img class="frame" style="animation-delay: 2s" src="../assets/day1b.png">
    <img class="frame" style="animation-delay: 14s" src="../assets/day1c.png">
    <img class="frame" style="animation-delay: 26s" src="../assets/day1d.png">
    <img class="frame" style="animation-delay: 38s" src="../assets/day1e.png">
    <img class="frame" style="animation-delay: 50s" src="../assets/day1f.png">
    <img class="frame" style="animation-delay: 62s" src="../assets/day1g.png">
    <img class="frame" style="animation-delay: 74s" src="../assets/day1h.png">
    <img class="frame" style="animation-delay: 86s" src="../assets/day1i.png">
  </section>
  <section class="day2">
    <img class="frame" style="animation-delay: -8s" src="../assets/day2a.png">
    <img class="frame" style="animation-delay: 4s" src="../assets/day2b.png">
    <img class="frame" style="animation-delay: 16s" src="../assets/day2c.png">
    <img class="frame" style="animation-delay: 28s" src="../assets/day2d.png">
    <img class="frame" style="animation-delay: 40s" src="../assets/day2e.png">
    <img class="frame" style="animation-delay: 52s" src="../assets/day2f.png">
    <img class="frame" style="animation-delay: 64s" src="../assets/day2g.png">
    <img class="frame" style="animation-delay: 76s" src="../assets/day2h.png">
    <img class="frame" style="animation-delay: 88s" src="../assets/day2i.png">
  </section>
  <section class="day3">
    <img class="frame" style="animation-delay: -6s" src="../assets/day3a.png">
    <img class="frame" style="animation-delay: 6s" src="../assets/day3b.png">
    <img class="frame" style="animation-delay: 18s" src="../assets/day3c.png">
    <img class="frame" style="animation-delay: 30s" src="../assets/day3d.png">
    <img class="frame" style="animation-delay: 42s" src="../assets/day3e.png">
    <img class="frame" style="animation-delay: 54s" src="../assets/day3f.png">
    <img class="frame" style="animation-delay: 66s" src="../assets/day3g.png">
    <img class="frame" style="animation-delay: 78s" src="../assets/day3h.png">
    <img class="frame" style="animation-delay: 90s" src="../assets/day3i.png">
  </section>
  <section class="day4">
    <img class="frame" style="animation-delay: -4s" src="../assets/day4a.png">
    <img class="frame" style="animation-delay: 8s" src="../assets/day4b.png">
    <img class="frame" style="animation-delay: 20s" src="../assets/day4c.png">
    <img class="frame" style="animation-delay: 32s" src="../assets/day4d.png">
    <img class="frame" style="animation-delay: 44s" src="../assets/day4e.png">
    <img class="frame" style="animation-delay: 56s" src="../assets/day4f.png">
    <img class="frame" style="animation-delay: 68s" src="../assets/day4g.png">
    <img class="frame" style="animation-delay: 80s" src="../assets/day4h.png">
    <img class="frame" style="animation-delay: 92s" src="../assets/day4i.png">
  </section>
  <section class="day5">
    <img class="frame" style="animation-delay: -2s" src="../assets/day5a.png">
    <img class="frame" style="animation-delay: 10s" src="../assets/day5b.png">
    <img class="frame" style="animation-delay: 22s" src="../assets/day5c.png">
    <img class="frame" style="animation-delay: 34s" src="../assets/day5d.png">
    <img class="frame" style="animation-delay: 46s" src="../assets/day5e.png">
    <img class="frame" style="animation-delay: 58s" src="../assets/day5f.png">
    <img class="frame" style="animation-delay: 70s" src="../assets/day5g.png">
    <img class="frame" style="animation-delay: 82s" src="../assets/day5h.png">
    <img class="frame" style="animation-delay: 94s" src="../assets/day5i.png">
  </section>
  <section class="day6">
    <img class="frame" style="animation-delay: 0s" src="../assets/day6a.png">
    <img class="frame" style="animation-delay: 12s" src="../assets/day6b.png">
    <img class="frame" style="animation-delay: 24s" src="../assets/day6c.png">
    <img class="frame" style="animation-delay: 36s" src="../assets/day6d.png">
    <img class="frame" style="animation-delay: 48s" src="../assets/day6e.png">
    <img class="frame" style="animation-delay: 60s" src="../assets/day6f.png">
    <img class="frame" style="animation-delay: 72s" src="../assets/day6g.png">
    <img class="frame" style="animation-delay: 84s" src="../assets/day6h.png">
    <img class="frame" style="animation-delay: 96s" src="../assets/day6i.png">
  </section>
  
  <div class="slider fade-in-element">
    <div class="slide-track">
      <div class="slide">
        <img class="portrait" src="../assets/day6p1.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p2.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p3.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p4.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p5.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p6.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p7.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p8.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p9.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p10.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p11.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p12.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p13.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p14.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p15.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p16.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p17.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p18.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p19.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p20.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p21.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p22.png" />
      </div>
      <div class="slide">
        <img class="portrait" src="../assets/day6p23.png" />
      </div>
    </div>
  </div>

  <div class="texth">
    <div class="part">
      <div class="part1">Welcome to the world</div>
      <div class="part1b">Oceans, Climate, Geology and Geography</div>
    </div>
    <div class="part">
      <div class="part2">Explore the Creation</div>
      <div class="part2b">Mountains, Bioms, Festivals and progression</div>
    </div>
    <div class="part">
      <div class="part3">Gather, Build, Trade anf Talk</div>
      <div class="part3b">Tribes, Kindoms and families</div>
    </div>
    <div class="part">
      <div class="part4">Become a legend</div>
      <div class="part4b">Might, Magic, Knowlage and Wealth</div>
    </div>
  </div>

</main>